#productPage {
  padding: var(--std-padding);
}

#productPage > div:first-child > * {
  padding: 10px;
}
#addProductCon {
  border-radius: 5px;
  align-self: flex-start;
  flex: 1;
  border: 1px solid var(--amz-borderC);
}

#addProductCon > * {
  color: var(--amz-grey);
}

.slide-container {
  max-width: 800px;
  max-height: 800px;
  min-width: 280px;
  align-self: flex-start;
  margin: 0 auto;
  position: sticky;
  top: 10px;
}

@media (max-width: 992px) {
  .slide-container {
    position: static;
  }
}
@media (max-width: 768px) {
  .slide-container,
  #addProductCon {
    width: 100%;
  }
}

.slide-container img {
  width: 100%;
}

#product-name {
  color: #565959;
  font-size: calc(1rem + 1vw);
}
#review-nav {
  color: #007185;
}

#product-detail {
  flex: 2;
}

#addProduct select {
  width: 100%;
}
#addProduct * {
  margin: 10px 0;
}
#btns * {
  width: 100%;
  font-size: var(--font-s-s);
  padding: 5px;
  border-radius: 15px;
}

#addToCart-btn {
  background-color: var(--amz-yellow);
}
#addToCart-btn:hover {
  background-color: var(--amz-alt-yellow);
}

#buyNow-btn {
  background-color: var(--amz-orange);
}

#buyNow-btn:hover {
  background-color: var(--amz-alt-orange);
}

#reviews-con {
  display: flex;
  gap: 200px;
}
@media (max-width: 768px) {
  #reviews-con {
    gap: 50px;
  }
}

#reviews {
  flex: 1;
}

#filters {
  padding: 0;
  list-style: none;
}

#filters li {
  display: flex;
  align-items: center;
  color: var(--amz-blue);
}
#filters li p {
  cursor: pointer;
}

@media (max-width: 768px) {
  #filters li {
    justify-content: center;
  }
}
#filters li p {
  width: fit-content;
}

#filters li p:hover {
  text-decoration: underline;
  color: var(--amz-orange);
}

.active {
  text-decoration: underline;
  color: var(--amz-orange) !important;
}

#reviews-filter-con {
  position: sticky;
  top: 10px;
  height: fit-content;
}

@media (max-width: 767px) {
  #reviews-filter-con {
    position: static;
  }
}
