#inventory-con {
  position: relative;
}
#products-table tr {
  border-bottom: 1px solid var(--amz-borderC);
}
#products-table th[scope="col"] {
  color: var(--amz-blue);
}
.add-btn {
  position: fixed;
  display: flex;
  right: 10px;
  bottom: 10px;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
}
.add-btn i {
  font-size: 25px;
}
