.alert-msg-con {
  position: sticky;
  z-index: 100;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  justify-content: space-between;
  gap: 20px;
  padding: 0 20px;
  width: 50%;
  border-radius: 5px;
  background-color: var(--amz-offWhite);
  color: #66607b;
  font-weight: var(--font-w-b);
}
@media (max-width: 767px) {
  .alert-msg-con {
    width: 90%;
  }
}

.alert-msg-con p {
  margin: 0;
  max-height: 80px;
  padding: 15px;
  flex: 1 0;
  white-space: pre-line;
  overflow-y: scroll;
}

.alert-msg-con p::-webkit-scrollbar {
  background-color: white;
  height: 3px;
  width: 3px;
}

.alert-msg-con p::-webkit-scrollbar-thumb {
  background-color: #66607b;
}

.error-con {
  background-color: #fcd4d9;
  color: #8b0752;
}
.error-con p::-webkit-scrollbar-thumb {
  background-color: #8b0752;
}

.success-con {
  background-color: #cceadc;
  color: #1c6e67;
}
.success-con p::-webkit-scrollbar-thumb {
  background-color: #1c6e67;
}

.primary-con {
  background-color: #ceddfe;
  color: #2d19b9;
}
.primary-con p::-webkit-scrollbar-thumb {
  background-color: #2d19b9;
}
