#auth-con {
  display: flex;
  margin: auto;
  min-height: 100vh;
  padding: 25px;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 767px) {
  #auth-con > *:not(img, .alert-msg-con) {
    width: 100% !important;
  }
}

#auth-con h1 {
  margin-bottom: 15px;
  font-weight: var(--font-w-bold);
}

#auth-con .auth-content > div {
  margin-bottom: 20px;
}

.center-line-con {
  position: relative;
}

.center-line-content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  margin: 0;
  background-color: white;
  color: var(--amz-grey);
  padding: 5px;
}
