.product-con {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  padding: calc(10px + 0.5rem);
}

@media (max-width: 768px) {
  .product-con {
    grid-template-columns: 300px;
  }
}
