.order {
  margin-bottom: 2rem;
}

.order > * {
  padding: 1rem;
}

.order-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--amz-offWhite);
  cursor: pointer;
  border-radius: 5px;
}

@media (hover: hover) {
  .order-head:hover {
    background-color: var(--amz-borderC);
  }
}

.selected {
  background-color: var(--amz-borderC) !important;
}
